
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family:'roboto';
}

/*Gerais*/
.nav__button{
    width: 100%;

    padding: 10px;
}

h1{
    font-size: 56px;
}

/*Auliares*/

.contenta

.d-flex {
    display: flex;
}

.r-row{
    display: flex;
    flex-direction: row-reverse;
}

.f-column{
    display: flex;
    flex-direction: column;
}

.border {
    border: 2px solid black;
}

.button{
    width: 30%;
    padding: 10px;

    height: 100%;
    
}

.jc-between {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 80%;
}

.all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__fr3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid__fr5{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

/*Nav Bar*/
#nav__button{
    margin-left: 20px;
    gap: 20px;
}

#nav__button button{
    width: 80%;
}

header {
    height: 10vh;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

/*Hero*/

#hero {
    height: 90vh;
}

#hero .box p{
    margin-top: 5%;
    margin-bottom: 5%;
}

#hero button{
    margin-right: 50px;
}

#box__hero__text{
    margin-right: 80px;
}




/*Section_Solution*/
#solution{
    height: auto;
}

/*Section titulo_breve1*/

#titulo_breve1{
    height: auto;
}

/*Section faq*/

#faq{
    height: auto;
}

.border__top{
    border-top: 2px solid black;
}

/*Section qta*/