@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: clamp(14px, 3vw, 20px);
    font-family: 'roboto';

    background-color: rgb(251, 251, 251);
}

/*Gerais*/
.nav__button {
    width: 100%;

    padding: 10px;
}

.button {
    width: 80%;
    height: 100%;
    padding: 20px;

    height: 100%;

    border-radius: 0;
    border: none;

    font-family: 'roboto';
}

h1 {
    font-size: 56px;
}

/*Auliares*/

.d-flex {
    display: flex;
}

.m-24 {
    margin-top: 24px;
    margin-bottom: 24px;
}

.r-row {
    display: flex;
    flex-direction: row-reverse;
}

.f-column {
    display: flex;
    flex-direction: column;
}

.border {
    border: 2px solid black;
}

.jc-between {
    display: flex;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 80%;
}

.all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid__fr5 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.button__black {
    background: black;
    color: white;
}

.button__white {
    background: white;
    border: 1px solid black;
}

/*Nav Bar*/
#nav__button {
    margin-left: 20px;
    gap: 20px;
}

#nav__button button {
    width: 80%;
}

header {
    height: 10vh;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

/*Hero*/

#hero {
    height: 90vh;
    background-color: white;
}

#hero .box p {
    margin-top: 5%;
    margin-bottom: 5%;
}

#hero button {
    margin-right: 50px;
}

#box__hero__text {
    margin-right: 80px;
}

#box__hero__text .all-center {
    display: flex;
    justify-content: left;

    width: 70%;
}



/*Section_Solution*/
#solution {
    height: auto;

    margin-top: 72px;
    margin-bottom: 72px;
}

#solution .grid__fr3 {
    margin-top: 80px;
    gap: 48px;
}

.card__solution {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
}


/*Section titulo_breve1*/

#titulo_breve1 {
    height: auto;
}

.box__titulo {
    width: 100%;
}

.box__image {
    width: 100%;

    margin-left: 80px;
}

.box__titulo .button {
    margin-top: 40px;

    width: 20%;
}

/*section review*/

.grid__fr3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 32px;
}

.card__reviews h4 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.card__reviews .perfil {
    margin-bottom: 16px;
}

.box__review__text {
    margin-top: 72px;
    margin-bottom: 80px;

    text-align: center;
}

.box__review__text h1 {
    margin-bottom: 24px;
}

/*Section faq*/

#faq {
    height: auto;
}

#faq .container {
    width: 50%;

    margin-top: 72px;
}

.border__top {
    border-top: 1px solid black;
}

.box__text__faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.box__text__faq p {
    margin-top: 24px;
    margin-bottom: 80px;

    font-family: 'roboto';
}

.card__info {
    display: flex;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;
}

/*Section qta*/

#cta {
    background-color: rgb(123, 123, 123);

    padding-bottom: 122px;
    padding-top: 122px;

    color: white;
}

#cta button {
    width: 15%;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*footer*/

footer .container {
    margin-top: 80px;
}

footer h3 {
    margin-bottom: 16px;
}

.ml__40__footer {
    margin-left: 40px;
}

#box__form__footer {
    margin-left: 128px;
    height: 100%;
}

.form__footer {
    display: flex;

    margin-top: 24px;
}

.form__footer .button {
    width: 40%;
    margin-left: 16px;
}

.form__footer input {
    width: 100%;
}

.input__email {
    width: 100%;
}

#text__footer {
    gap: 20px;
}

#image__footer {
    gap: 20px;
}

#box__info__footer {
    margin-top: 80px;

    font-size: 20pxpx;
}

@media (max-width: 1240px) {
    
    body{
        font-size: clamp(10px, 3vw, 20px);
    }

    h1{
        font-size: clamp(20px, 3vw, 30px);
    }

    /*header*/

    header .container{
        display:  none;
    }

    .button {
    width: 80%;
    height: 100%;
    padding: 20px;

    height: 100%;

    border-radius: 0;
    

    font-family: 'roboto';
}

    .container {
        margin: 0 auto;
        padding: 20px;
        max-width: 90%;

        display: flex;
        flex-direction: column;
    }

    .image{
        width:100%;
    }

    /*section__hero*/

    #hero{
        height: auto;
        display: flex;
        flex-direction: column;
    }

    #box__hero__text{
        margin: 0;
        align-items: center;
    }

    .box__image{
        margin: 0;
    }

    #box__hero__text .d-flex p{
        width: 100%;
    }


    #box__breve2{
        display: flex;
        flex-direction: column-reverse;
    }

    /*reviews*/
    
    #reviews .grid__fr3{
        display: flex;
        flex-direction: column;
    }

    #box__info__footer, #box__links__footer{
        display: flex;
        flex-direction: column;
    }

    #faq .container{
        width: 80%;
    }

    /*footer*/

    #box__links__footer{
        justify-content: center;
        align-items: center;
    }

    #box__form__footer{
        margin: 0;
    }
}